
.input-file {
    width: 1px;
    height: 1px;
    z-index: -1;
    opacity: 0;
    position: absolute;

}

.file-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-file-upload {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
    color: black;


}

.icon-user-circle {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 0;
    left: 0;
    color: black;
}


.image-user {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.file-label:hover .icon-file-upload,
.image-user:hover .icon-file-upload {
    display: block;
}

.file-label:hover .icon-user-circle,
.image-user:hover {
    cursor: pointer;
    opacity: 0.3;
}

